@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
  max-width: 100%;
}
.intro .data {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: -9;
}
.intro .data h2 {
  color: #FF724C;
  font-size: 4.375rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .intro .data h2 {
    color: #ba9494;
    text-align: center;
  }
}
.intro .data .owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro .data .owl-carousel .item h4 {
  color: #969696;
  font-size: 25px;
  padding-left: 4.8rem;
}
@media (max-width: 767px) {
  .intro .data .owl-carousel .item h4 {
    color: black;
  }
}

.about-page {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .about-page {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .about-page {
    padding-left: 0;
  }
}
.about-page .data {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}
.about-page .data .heading {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.about-page .data .heading h2 {
  text-transform: uppercase;
  text-align: center;
  color: #969696;
}
.about-page .data .heading p {
  font-size: 20px;
  background-color: #FF724C;
  padding: 5px;
  position: absolute;
  right: 20%;
  top: 6rem;
  margin-top: -20px;
  color: white;
}
@media (max-width: 767px) {
  .about-page .data .heading p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.about-page .data .profile_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about-page .data .profile_section .my_image {
  display: contents;
  max-width: 25%;
}
.about-page .data .profile_section #profile_pic {
  width: 35%;
  border-radius: 20px;
  will-change: transform;
  -webkit-transform: perspective(300px) rotateX(0deg) rotateY(0deg);
          transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}
.about-page .data .profile_section .dics {
  max-width: 651px;
}
.about-page .data .profile_section .dics h3 {
  color: white;
  font-size: 4rem;
  text-align: center;
}
.about-page .data .profile_section .dics h3 span {
  color: #FF724C;
}
.about-page .data .profile_section .dics p {
  color: #969696;
  font-size: 1.5rem;
}
.about-page .data .profile_section .dics .social_links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
.about-page .data .profile_section .dics .social_links li {
  border: 1px solid #969696;
  padding: 5px 10px;
}
.about-page .data .profile_section .dics .social_links li .fab {
  font-size: 1.5rem;
  color: white;
}
.about-page .data .profile_section .dics .social_links li:hover {
  background-color: #FF724C;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.about-page .data::after {
  position: absolute;
  content: "";
  width: 7rem;
  height: 3px;
  background-color: #FF724C;
  border-radius: 10px;
  top: 0;
}
.about-page .data::before {
  position: absolute;
  content: "";
  width: 7rem;
  height: 3px;
  background-color: #FF724C;
  top: 55px;
  left: -55px;
  border-radius: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.about-page .services {
  padding: 20px;
}
@media (max-width: 767px) {
  .about-page .services {
    padding: 0;
  }
}
.about-page .services h3 {
  border-left: 3px solid #FF724C;
  color: white;
  padding-left: 10px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .about-page .services h3 {
    font-size: 30px;
    margin-bottom: 35px;
  }
}
.about-page .services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-page .services .wrapper .box {
  width: 250px;
  font-family: "Oxygen", sans-serif;
}
.about-page .services .wrapper .box img {
  width: 40%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-page .services .wrapper .box h4 {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.about-page .services .wrapper .box p {
  text-align: center;
  color: #969696;
}
.about-page .clients {
  padding: 20px;
}
@media (max-width: 767px) {
  .about-page .clients {
    padding: 0;
  }
}
.about-page .clients h3 {
  border-left: 3px solid #FF724C;
  color: white;
  padding-left: 10px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .about-page .clients h3 {
    font-size: 30px;
    margin-bottom: 35px;
  }
}
.about-page .clients .client_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7rem;
  max-width: 75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
.about-page .clients .client_data img {
  max-width: 80px;
  -webkit-filter: invert(40%);
          filter: invert(40%);
}
.about-page .clients .client_data img:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.about-page .testimonial {
  padding: 20px;
}
@media (max-width: 767px) {
  .about-page .testimonial {
    padding: 10;
  }
}
.about-page .testimonial h3 {
  border-left: 3px solid #FF724C;
  color: white;
  padding-left: 10px;
  font-size: 20px;
}
.about-page .testimonial .testimonial_review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}
.about-page .testimonial .testimonial_review .para {
  outline: 1px solid #969696;
  color: #969696;
  padding: 15px 5px;
}
.about-page .testimonial .testimonial_review .para:hover {
  outline: 1px solid #FF724C;
}
.about-page .close_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
  width: 100%;
}
@media (max-width: 767px) {
  .about-page .close_up {
    gap: 50px;
  }
}
.about-page .close_up .pic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -20px;
}
@media (max-width: 767px) {
  .about-page .close_up .pic {
    top: 33px;
    left: 143px;
    width: 100%;
  }
}
.about-page .close_up .pic .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media (max-width: 767px) {
  .about-page .close_up .pic .info-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-page .close_up .pic .info-card img {
  max-width: 20%;
  border-radius: 10px;
}
.about-page .close_up .pic .info-card .close_up_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}
.about-page .close_up .pic .info-card .close_up_data h4 {
  color: white;
}
.about-page .close_up .pic .info-card .close_up_data span {
  color: #FF724C;
  font-size: 10px;
  margin: 5px 10px;
  display: contents;
}
.about-page .close_up .pic:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .about-page .fun_facts {
    margin-top: 70px;
  }
}
.about-page .fun_facts h3 {
  border-left: 3px solid #FF724C;
  padding-left: 10px;
  color: white;
}
.about-page .fun_facts .fun_fact_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.about-page .fun_facts .fun_fact_wrapper .fun_box {
  width: 240px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.about-page .fun_facts .fun_fact_wrapper .fun_box .far,
.about-page .fun_facts .fun_fact_wrapper .fun_box .fas {
  font-size: 55px;
  color: #969696;
}
.about-page .fun_facts .fun_fact_wrapper .fun_box h4 {
  color: white;
}
.about-page .fun_facts .fun_fact_wrapper .fun_box span {
  color: #FF724C;
  font-size: 25px;
}
.about-page .fun_facts .fun_fact_wrapper .fun_box:nth-child(odd) {
  background-color: #282828;
}
.about-page .fun_facts .fun_fact_wrapper .fun_box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
  max-width: 100%;
}
.intro .data {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: -9;
}
.intro .data h2 {
  color: #FF724C;
  font-size: 4.375rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .intro .data h2 {
    color: #ba9494;
    text-align: center;
  }
}
.intro .data .owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro .data .owl-carousel .item h4 {
  color: #969696;
  font-size: 25px;
  padding-left: 4.8rem;
}
@media (max-width: 767px) {
  .intro .data .owl-carousel .item h4 {
    color: black;
  }
}

.contact {
  padding: 10px;
}
.contact .contact_data {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media (max-width: 991px) {
  .contact .contact_data {
    gap: 40px;
  }
}
.contact .contact_data .heading {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 991px) {
  .contact .contact_data .heading {
    margin-top: 50px;
  }
}
.contact .contact_data .heading h2 {
  color: #969696;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
}
.contact .contact_data .heading p {
  background-color: #FF724C;
  display: inline-block;
  position: absolute;
  right: 28%;
  padding: 3px 3px 3px 60px;
  color: white;
  font-size: 20px;
}
.contact .contact_data .contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .contact .contact_data .contact_info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
}
.contact .contact_data .contact_info .dics {
  width: 400px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 991px) {
  .contact .contact_data .contact_info .dics {
    width: 100%;
  }
}
.contact .contact_data .contact_info .dics h3 {
  color: white;
  border-left: 3px solid #FF724C;
  padding-left: 15px;
  font-size: 35px;
  margin-bottom: 20px;
}
.contact .contact_data .contact_info .dics p {
  color: #969696;
}
@media (max-width: 991px) {
  .contact .contact_data .contact_info .dics p {
    font-size: 20px;
  }
}
.contact .contact_data .contact_info .dics .info {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.contact .contact_data .contact_info .dics .info li {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .contact .contact_data .contact_info .dics .info li {
    font-size: 30px;
  }
}
.contact .contact_data .contact_info .dics .info li .fas {
  color: #969696;
  font-size: 30px;
}
@media (max-width: 991px) {
  .contact .contact_data .contact_info .dics .info li .fas {
    font-size: 40px;
  }
}
.contact .contact_data .contact_info .contact_form {
  margin-top: 57px;
}
@media (max-width: 991px) {
  .contact .contact_data .contact_info .contact_form {
    width: 100%;
  }
}
.contact .contact_data .contact_info .contact_form form {
  position: relative;
}
.contact .contact_data .contact_info .contact_form form h3 {
  color: white;
  border-left: 3px solid #FF724C;
  padding-left: 10px;
  font-size: 1.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contact .contact_data .contact_info .contact_form form .inputs {
  margin: 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  position: relative;
}
.contact .contact_data .contact_info .contact_form form .inputs input {
  width: 100%;
  border: 1px solid #969696;
  font-size: 1rem;
  outline: none;
  padding: 15px 10px;
  background-color: transparent;
  caret-color: #FF724C;
  position: relative;
}
.contact .contact_data .contact_info .contact_form form .inputs input[type=text], .contact .contact_data .contact_info .contact_form form .inputs input[type=email] {
  color: #FF724C;
}
.contact .contact_data .contact_info .contact_form form .inputs input:focus {
  border-bottom: 2px solid #FF724C;
}
.contact .contact_data .contact_info .contact_form form .inputs #fullName {
  position: absolute;
  z-index: 555;
  color: antiquewhite;
  top: 3.2rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  display: inherit;
}
.contact .contact_data .contact_info .contact_form form .inputs #email {
  position: absolute;
  z-index: 555;
  color: antiquewhite;
  display: inherit;
  bottom: -20px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.contact .contact_data .contact_info .contact_form form textarea {
  font-size: 1rem;
  caret-color: #FF724C;
  border: 1px solid #969696;
  outline: none;
  background-color: transparent;
  position: relative;
  color: #FF724C;
  padding-top: 10px;
  margin-left: 12px;
  padding-left: 10px;
  display: block;
}
.contact .contact_data .contact_info .contact_form form #btn {
  position: absolute;
  bottom: -65px;
  left: 12px;
  padding: 15px 30px;
  background-color: transparent;
  outline: none;
  border: 2px solid #FF724C;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 991px) {
  .contact .contact_data .contact_info .contact_form form #btn {
    left: 0;
    padding: 15px 8px;
    width: 100%;
  }
}
.contact .contact_data .contact_info .contact_form form #btn:hover {
  background-color: #FF724C;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  cursor: pointer;
  border-radius: 5px;
}
.contact .contact_data::after {
  position: absolute;
  content: "";
  width: 7rem;
  height: 3px;
  background-color: #FF724C;
  border-radius: 10px;
  top: 0;
  left: 0;
}
.contact .contact_data::before {
  position: absolute;
  content: "";
  width: 7rem;
  height: 3px;
  background-color: #FF724C;
  top: 55px;
  left: -55px;
  border-radius: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
  max-width: 100%;
}
.intro .data {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: -9;
}
.intro .data h2 {
  color: #FF724C;
  font-size: 4.375rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .intro .data h2 {
    color: #ba9494;
    text-align: center;
  }
}
.intro .data .owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro .data .owl-carousel .item h4 {
  color: #969696;
  font-size: 25px;
  padding-left: 4.8rem;
}
@media (max-width: 767px) {
  .intro .data .owl-carousel .item h4 {
    color: black;
  }
}

.portfolio {
  padding: 50px;
  position: relative;
}
@media (max-width: 767px) {
  .portfolio {
    padding: 0;
  }
}
.portfolio .portfolioData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.portfolio .portfolioData h3 {
  color: #969696;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.portfolio .portfolioData span {
  position: absolute;
  top: 7%;
  left: 50%;
  background-color: #FF724C;
  padding: 2px 5px 2px 46px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-size: 25px;
  text-align: center;
}
@media (max-width: 767px) {
  .portfolio .portfolioData span {
    top: 5%;
  }
}
.portfolio .portfolioData .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio .portfolioData .work .work_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: "Roboto", sans-serif;
  padding-top: 65px;
  gap: 40px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio .portfolioData .work .work_lists li {
  cursor: pointer;
  padding: 5px 20px;
  color: white;
  border-bottom: 2px solid #FF724C;
}
.portfolio .portfolioData .work .work_lists li:hover {
  background: white;
  border-radius: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-bottom: none;
  color: #969696;
}
.portfolio .portfolioData .work .work_lists li:active {
  background: #FF724C;
}
.portfolio .portfolioData .work .work_lists li:visited {
  background: #222222;
}
.portfolio .portfolioData .work .portfolio_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  list-style: none;
  gap: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #969696;
}
.portfolio .portfolioData .work .portfolio_wrapper .course_box {
  overflow: hidden;
  width: 30%;
  height: 210px;
  border-radius: 10px;
  position: relative;
}
.portfolio .portfolioData .work .portfolio_wrapper .course_box img {
  border-radius: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .portfolioData .work .portfolio_wrapper .course_box img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
.portfolio .portfolioData .work .portfolio_wrapper .course_box h1 {
  color: white;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
}

.portfolio::-webkit-scrollbar {
  width: 5px;
}

.portfolio::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: chocolate;
}

.portfolio::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px;
  background-color: #969696;
}

.resume {
  background-color: #222222;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .resume {
    padding: 20px;
  }
}
.resume .resume_data {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .resume .resume_data {
    gap: 85px;
    padding: 10px 0px 10px 10px;
  }
}
.resume .resume_data h3 {
  color: #969696;
  font-size: 70px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.resume .resume_data span {
  position: absolute;
  top: 5.5rem;
  background-color: #FF724C;
  padding: 2px 5px 2px 46px;
  right: 31rem;
  color: white;
  font-size: 25px;
}
@media (max-width: 767px) {
  .resume .resume_data span {
    -webkit-transform: translate(179%, 20%);
            transform: translate(179%, 20%);
  }
}
.resume .resume_data::after {
  position: absolute;
  content: "";
  width: 7rem;
  height: 3px;
  background-color: #FF724C;
  border-radius: 10px;
  top: 0;
  left: 0;
}
.resume .resume_data::before {
  position: absolute;
  content: "";
  width: 7rem;
  height: 3px;
  background-color: #FF724C;
  top: 55px;
  left: -55px;
  border-radius: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.resume .resume_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .resume .resume_wrapper {
    gap: 55px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.resume .resume_wrapper .resume_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  font-family: "Roboto", sans-serif;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 767px) {
  .resume .resume_wrapper .resume_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.resume .resume_wrapper .resume_container .resume_box {
  cursor: pointer;
  padding: 10px;
  width: 300px;
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .resume .resume_wrapper .resume_container .resume_box {
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(85, 85, 85, 0.2) 0px 8px 24px;
            box-shadow: rgba(85, 85, 85, 0.2) 0px 8px 24px;
  }
}
.resume .resume_wrapper .resume_container .resume_box .tag {
  border-left: 3px solid #FF724C;
  font-size: 18px;
  margin-bottom: 30px;
  padding-left: 10px;
  color: white;
  margin-left: -20px;
}
@media (max-width: 767px) {
  .resume .resume_wrapper .resume_container .resume_box .tag {
    font-size: 30px;
  }
}
.resume .resume_wrapper .resume_container .resume_box .year {
  background-color: #FF724C;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 4px 6px 18px;
  margin-left: -10px;
  margin-top: -15px;
  margin-bottom: 10px;
  color: white;
}
.resume .resume_wrapper .resume_container .resume_box h4 {
  color: white;
  font-size: 20px;
}
@media (max-width: 767px) {
  .resume .resume_wrapper .resume_container .resume_box h4 {
    font-size: 25px;
  }
}
.resume .resume_wrapper .resume_container .resume_box .unv {
  color: #969696;
  margin-top: 10px;
  margin-top: -2px;
}
@media (max-width: 767px) {
  .resume .resume_wrapper .resume_container .resume_box .unv {
    font-size: 20px;
  }
}
.resume .resume_wrapper .resume_container .resume_box .para {
  margin-top: 10px;
  color: #cccccc;
  font-size: 15px;
}
@media (max-width: 767px) {
  .resume .resume_wrapper .resume_container .resume_box .para {
    font-size: 20px;
  }
}
.resume .resume_wrapper .resume_container button {
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #FF724C;
  background-color: #222222;
  color: white;
}
@media (max-width: 767px) {
  .resume .resume_wrapper .resume_container button {
    width: -webkit-fill-available;
    font-size: 20px;
  }
}
.resume .resume_wrapper .resume_container button:hover {
  background-color: #FF724C;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
}
.resume .progress {
  width: 45rem;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.resume .progress .design_skills .bar {
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 12px;
  margin-bottom: 12px;
  min-width: 100%;
  border: 1px solid #cfcfcf;
  height: 12px;
  margin-top: 10px;
  background-color: #FF724C;
}
@media (max-width: 767px) {
  .resume .progress .design_skills .bar {
    height: 15px;
  }
}
.resume .progress .design_skills .bar div {
  width: 80%;
}
.resume .progress .design_skills h4 {
  color: white;
  font-size: 15px;
  font-family: "Oxygen", sans-serif;
}
@media (max-width: 767px) {
  .resume .progress .design_skills h4 {
    font-size: 17px;
  }
}
.resume .progress .design_skills .design_tag {
  color: white;
  border-left: 3px solid #FF724C;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .resume .progress .design_skills .design_tag {
    font-size: 30px;
  }
}

.resume::-webkit-scrollbar {
  width: 5px;
}

.resume::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: chocolate;
}

.resume::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px;
  background-color: #969696;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../assets/images/main_bg_light.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Oxygen", sans-serif !important;
}
@media (max-width: 767px) {
  body {
    background-position: center;
  }
}

::-moz-selection {
  color: white;
  background-color: #FF724C;
}

::selection {
  color: white;
  background-color: #FF724C;
}

#loading {
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33333;
  position: fixed;
  background-color: white;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: 150px;
  position: relative;
}
@media (max-width: 767px) {
  .main-container {
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .main-container {
    padding-left: 0;
  }
}
.main-container .menu {
  font-size: 40px;
  position: absolute;
  left: 20px;
  color: #FF724C;
  cursor: pointer;
}

.header {
  background-color: #222222;
  width: 150px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .header {
    left: -100%;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}
@media (max-width: 991px) {
  .header {
    left: -100%;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}
.header .left {
  left: 0;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}
.header .navbar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  border-bottom: 1px solid;
  border-bottom: 1px solid gray;
  width: 100%;
}
.header .navbar .profile img {
  width: 60%;
  border-radius: 5px;
}
.header .navbar .profile .name {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 40px;
}
.header .navbar .profile .fa-user-alt {
  color: #FF724C;
  font-size: 3em;
}
.header .navbar #lists {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.header .navbar #lists li {
  position: relative;
  border-bottom: 1px solid gray;
  padding: 15px 0px;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header .navbar #lists li .fa-home {
  color: #969696;
  font-size: 1.7rem;
}
.header .navbar #lists li .fa-user-circle {
  color: #969696;
  font-size: 1.7rem;
}
.header .navbar #lists li .fa-user-circle:hover {
  color: white;
}
.header .navbar #lists li .fa-address-card {
  color: #969696;
  font-size: 1.7rem;
}
.header .navbar #lists li .fa-briefcase {
  color: #969696;
  font-size: 1.7rem;
}
.header .navbar #lists li .fa-envelope {
  color: #969696;
  font-size: 1.7rem;
}
.header .navbar #lists li a {
  color: #969696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
}
.header .navbar #lists .active {
  border-right: 2px solid #FF724C;
}

.container {
  background-color: #222222;
  width: 100%;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px 20px 70px 20px;
  border-radius: 5px;
  height: calc(100vh - 10vh);
  -webkit-animation: right all 5s ease-in-out;
          animation: right all 5s ease-in-out;
  overflow-y: scroll;
}
@media (max-width: 767px) {
  .container {
    border-radius: 0;
    height: 100%;
    padding: 10px 0px 10px 0px;
  }
}
@media (max-width: 991px) {
  .container {
    margin: 0;
    border-radius: 0;
    height: 100%;
    padding: 10px 0px 10px 0px;
  }
}
.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: chocolate;
}
.container::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px;
  background-color: #969696;
}